<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Expanding Column Layout</title>
  <link rel="stylesheet" href="./font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="strips">
<article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title" data-name="0">FileLogger</h1>
      <div class="strip__inner-text">
<div class="container" id="appFileLogger">
  <div class="tab">
    
    <div class="menuFileLogger">
      <div class="menu__item menu__item--FileLoggerA" :class="[ active === 0 ? 'is-active' : '']" @click="selectedContent(0)">call</div>
      <div class="menu__item menu__item--FileLoggerB" :class="[ active === 1 ? 'is-active' : '']" @click="selectedContent(1)">main</div>
      <div class="menu__line" :class="className"></div>
    </div>
    
    <div class="contents">
      <transition :name="animation" mode="out-in">

        <div class="contents__content" v-if="active === 0" key="0">
          <h2>call</h2>
          <p><em>HelqloHelqloHelqlo</em><em>HeelloHeelloHeello</em><em>HelrloHelrloHelrlo</em><em>HetlloHetlloHetllo</em></p>
        </div>

        <div class="contents__content" v-if="active === 1" key="1">
          <h2>main</h2>
          <p><strong>HeldloHeldlo</strong><strong>HelloHello</strong><strong>HelvloHelvlo</strong><strong>HelwloHelwlo</strong></p>
        </div>

      </transition>
    </div>
  </div>
</div>      </div>
      
    </div>
  </article>
<i class="fa fa-close strip__close"></i>
</section>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js'></script>
<script  src="./script.js"></script>

</body>
</html>