* {
  box-sizing: border-box;
}

.strips {
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  color: white;
}
.strips__strip {
  will-change: width, left, z-index, height;
  position: absolute;
  width: 100.0%;
  min-height: 100vh;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips__strip:nth-child(1) {
    left: 0.0vw;
}
.strips__strip:nth-child(1) .strip__content {
  background: #AFAE6A;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-animation-name: strip1;
          animation-name: strip1;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
@media screen and (max-width: 760px) {
  .strips__strip {
    min-height: 20vh;
  }
.strips__strip:nth-child(1) {
    top: 0.0vh;
    left: 0;
    width: 100%;
  }
}
.strips .strip__content {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.strips .strip__content:hover:before {
  -webkit-transform: skew(-30deg) scale(3) translate(0, 0);
          transform: skew(-30deg) scale(3) translate(0, 0);
  opacity: 0.1;
}
.strips .strip__content:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: skew(-30deg) scaleY(1) translate(0, 0);
          transform: skew(-30deg) scaleY(1) translate(0, 0);
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips .strip__inner-text {
  will-change: transform, opacity;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 70%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips__strip--expanded {
  width: 100%;
  height: 3000%;
  top: 0 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
@media screen and (max-width: 760px) {
  .strips__strip--expanded {
    min-height: 100vh;
  }
}
.strips__strip--expanded .strip__content:hover:before {
  -webkit-transform: skew(-30deg) scale(1) translate(0, 0);
          transform: skew(-30deg) scale(1) translate(0, 0);
  opacity: 0.05;
}
.strips__strip--expanded .strip__title {
  opacity: 0;
}
.strips__strip--expanded .strip__inner-text {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.strip__title {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 3.5vw;
  color: white;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
@media screen and (max-width: 760px) {
  .strip__title {
    font-size: 28px;
  }
}

.strip__close {
  position: absolute;
  right: 3vw;
  top: 3vw;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.strip__close--show {
  opacity: 1;
}

@-webkit-keyframes strip1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes strip1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
body {
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  line-height: 1.5;
}

h1, h2 {
  font-weight: 300;
}
h1 {
  transform: rotate(-90deg)
}

.fa {
  font-size: 30px;
  color: white;
}

h2 {
  font-size: 36px;
  margin: 0 0 16px;
}

p {
  margin: 0 0 16px;
}





:root {
  --primary-light: #e9d9ff;
  --primary: #643cf5;
  --greyLight: #ddd;
  --greyLight-2: #c8d1f5;
  --greyDark: #333;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .6px;
  line-height: 1.4;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--greyLight);
}

.menu__item {
  padding-bottom: .6rem;
  margin: 1 1.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.menu__item.is-active {
  color: var(--primary);
}
.menu__line {
  position: absolute;
  bottom: 0;
  width: 7rem;
  height: 100%;
  border-bottom: 4px solid var(--primary);
  z-index: 200;
  pointer-events: none;
  transition: all .5s ease;
}
.contents {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.contents__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contents__content span {
  color: var(--primary);
  font-size: 3rem;
  margin-bottom: 1.6rem;
  padding: 1rem;
  border-radius: 1.2rem;
  background: var(--primary-light);
}
.contents__content h2 {
  font-size: 3rem;
  color: var(--greyDark);
}
.contents__content p {
  font-size: 1.7rem;
  margin: 1.6rem 0;
}
.contents__content button {
  border: none;
  outline: none;
  background: none;
  color: var(--primary);
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}
.contents__content button:hover {
  border-bottom: 1px solid var(--primary);
}

.fadeUp-enter {
  opacity: 0;
}

.fadeUp-enter-active {
  animation: slide-in .3s ease-in-out forwards;
  transition: opacity .3s;
}

.fadeUp-leave-active {
  animation: slide-out .3s ease-in-out forwards;
  transition: opacity  .3s;
  opacity: 0;
}

.fadeDown-enter {
  opacity: 0;
}

.fadeDown-enter-active {
  animation: slide-in-down .3s ease-in-out forwards;
  transition: opacity .3s;
}

.fadeDown-leave-active {
  animation: slide-out-down .3s ease-in-out forwards;
  transition: opacity  .3s;
  opacity: 0;
}

@keyframes slide-in {
  from {
    transform: translateY(2rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2rem);
  }
}
@keyframes slide-in-down {
  from {
    transform: translateY(-2rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-out-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2rem);
  }
}
.menuFileLogger {
  display: flex;
  justify-content: space-between;
  width: 14.0rem;
  /*justify-content: center;*/
   position: relative;
}
.menu__item--FileLoggerA:hover {
  color: var(--primary);
}
.menu__item--FileLoggerA:hover:hover ~ .menu__line {
  transform: translateX(0.0rem);
  width: 7rem;
}
.menu__line.FileLoggerA {
  transform: translateX(0.0rem);
  width: 7rem;
}
.menu__item--FileLoggerB:hover {
  color: var(--primary);
}
.menu__item--FileLoggerB:hover:hover ~ .menu__line {
  transform: translateX(7.0rem);
  width: 7rem;
}
.menu__line.FileLoggerB {
  transform: translateX(7.0rem);
  width: 7rem;
}
.menuFileLogger::after {
  content: '';
  position: absolute;
  width: inherit;
  bottom: 0;
  left: 0;
  height: 1px;
  background: var(--greyLight-2);
}
